.lab{
    display: flex;
    justify-content: center;
    text-align: center;
}
.card{
    height: auto;
    max-width: 400px;   /* you can change this */
    margin: auto;  
}
/* .btn{
    display: flex;
    justify-content: center;
    text-align: center;
} */
 .center-btn {
  text-align: center;
  width: 100%;
}
.input-icon {
  position: relative;
}

.input-icon i {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #6c757d;
  pointer-events: none; /* click goes to input */
}

.input-icon input {
  padding-left: 40px; /* space for icon */
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.register-text {
  margin-top: 15px;
  text-align: center;
}

.register-text a {
  color: #3f51b5;
  text-decoration: none;
  font-weight: 500;
}
